<html>
    <head>
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
         crossorigin="anonymous">
        <title>{{ title }} - Oscarpedia</title>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" 
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
            crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark justify-content-between">
            <div>
                <a class="navbar-brand btn inl py-0" href={{ url_for('get_movies') }}>Oscarpedia</a>
                <div class="btn-group">
                    <a class="nav-link inl btn btn-secondary" href={{ url_for('get_movies') }}>Home</a>
                    <a class="nav-link inl btn btn-secondary" href={{ json_url }}>Jsonify</a>
                    <a class="nav-link inl btn btn-secondary" href={{ url_for('get_doc') }}>Documentation</a>
                </div>
            </div>
            <div>
                <form novalidate method="POST" class="form-inline my-0 px-0">
                    <div class="input-group my-1">
                        {{ searchform.csrf_token() }}
                        <div class="input-group-prepend">
                            {{ searchform.search_field }}
                        </div>
                        {{ searchform.search(value=search) }}
                        <div class="input-group-append">
                            {{ searchform.submit }}
                        </div>
                    </div>
                </form>
            </div>
        </nav>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <h1 class="text-center">{{ title }}</h1>
        {% if result[0] is defined %}
            <div class="row justify-content-center mx-0">
                <div class="border btn-group">
                    {% if this_url==first_url %}
                        <a class="btn disabled" href="{{ first_url }}" aria-disabled="true">First</a>
                        <a class="btn border-right disabled" href="{{ prev_url }}" aria-disabled="true">Prev</a>
                    {% else %}
                        <a class="btn" href="{{ first_url }}">First</a>
                        <a class="btn border-right" href="{{ prev_url }}">Prev</a>
                    {% endif %}
                    {% if this_url==last_url %}
                        <a class="btn border-left disabled" href="{{ next_url }}" aria-disabled="true">Next</a>
                        <a class="btn disabled" href="{{ last_url }}" aria-disabled="true">Last</a>
                    {% else %}
                        <a class="btn border-left" href="{{ next_url }}">Next</a>
                        <a class="btn" href="{{ last_url }}">Last</a>
                    {% endif %}
                </div>
            </div>
            {% block content %}{% endblock %}
            <div class="row justify-content-center mx-0 pb-5">
                <div class="border btn-group">
                    {% if this_url==first_url %}
                        <a class="btn disabled" href="{{ first_url }}" aria-disabled="true">First</a>
                        <a class="btn border-right disabled" href="{{ prev_url }}" aria-disabled="true">Prev</a>
                    {% else %}
                        <a class="btn" href="{{ first_url }}">First</a>
                        <a class="btn border-right" href="{{ prev_url }}">Prev</a>
                    {% endif %}
                    {% if this_url==last_url %}
                        <a class="btn border-left disabled" href="{{ next_url }}" aria-disabled="true">Next</a>
                        <a class="btn disabled" href="{{ last_url }}" aria-disabled="true">Last</a>
                    {% else %}
                        <a class="btn border-left" href="{{ next_url }}">Next</a>
                        <a class="btn" href="{{ last_url }}">Last</a>
                    {% endif %} 
                </div>
            </div>
        {% endif %}
    </body>
</html>