{% extends "base.html" %}

{% block content %}
    <div class="container">
        {% for result in result %}
        <div class="row my-4 ml-2 mr-2 border border-dark">
            <div class="col-2 ml-4 mr-4 my-2">
                <div class="row my-2">
                    <img class="mx-auto" src={{ result.poster }}
                        alt='' width="100" height="150"></img>
                </div>
                <div class="row">
                    <h8 class="mx-auto text-center">{{ result.name }} ({{ result.year }})</h8>
                </div>
            </div>
            <div class="col ml-4 mr-4 my-2">
                <div class="row">
                    <p>{{ result.description }}</p>
                </div>
                <div class="row">
                    <a class="mr-2 my-1" data-toggle="collapse" 
                        href={{ "#a"+result.id|string }} aria-expanded="false" 
                        aria-controls={{ "a"+result.id|string }}>
                        Oscars:
                    </a>
                    <p class="collapse my-1" id={{ "a"+result.id|string }}>
                        {% for oscars in result.oscars %}
                            {{ oscars.category+"," }}
                        {% endfor %}
                    </p>
                </div>
                <div class="row my-1">
                    <p><a href={{ result.IMDB_link }}>IMDB</a> Rating: {{ result.rating }}/10</p>
                </div>
                <div class="row my-1">
                    <div class="col pl-0">
                        <p>
                            Oscarpedia User Rating: 
                            {% if result.num_of_ratings != 0 %}
                                {{ "%.1f"|format(result.user_rating) }}/10
                            {% else %}
                                None
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-auto">
                        <form novalidate method="POST" class="justify-content-end input-group">
                            {{ ratingform.csrf_token() }}
                            {{ ratingform.request_id(value=result.id) }}
                            {{ ratingform.rating }}
                            <div class="input-group-append">
                                {{ ratingform.submit }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}